extends layout

block content
  h1= title
  p Welcome to the Archer API
  a(href="/seasons") Seasons
  br
  a(href="/episodes") Episodes
  br
  a(href="/guests") Guests
  br
  a(href="/references") References
  br
  a(href="/tropes") Tropes
